@{
    ViewData["Title"] = "Erişim Engellendi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <i class="fas fa-ban fa-3x text-danger mb-3"></i>
    <h3>Erişim Engellendi</h3>
    <p class="mb-4">Bu sayfaya erişim izniniz bulunmamaktadır.</p>
    <a asp-action="Index" asp-controller="Home" class="btn btn-auth">Ana Sayfaya Dön</a>
</div>